motivacion1.py
motivacion2.py
procesador_imagenes_prueba1.py
procesador_imagenes_prueba2.py
procesador_imagenes_estable.py
private_data/
ideas/
img-env/
__pycache__/
examples/
*.pyc
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.vrb
*.nav
*.snm
ui_dialogs_ctk.py
main_ctk.py
main_theme.py
main_notebook.py
main_qt.py
main_legacy.py